<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleHelpBookFolder</key>
	<string>MyWallpaperXHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>MyWallpaperX 帮助</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>en</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>需要访问系统音频以生成桌面频谱可视化。</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>i.tianqi.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/songziqiang9512/MyWallpaperX/releases/download/update-feed/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gc6wq2lktZFaEg5WqMWntZbPT9T2+K19mAa4yzIzDZ4=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
